*{
	box-sizing: border-box;
}

html {
	font-family: ' Courier New';
}

body {
	margin: 0 auto; 
	font-size: 1rem;
	line-height: 1.3;
	background-color: gainsboro
}

.center {
	text-align: center;
}

.card {
	display: flex;
	flex-flow: row wrap;
	max-width: 75rem;
	margin: 0 auto;
}

.card-item {
	display: flex;
	width: 100%;
    font-family: 'Lucida Console';
    background-color: white;
	padding: 0.5em;
}

@media all and (min-width: 600px) {
	.card-item {
			width: calc(100% / 12 * 5 );
	}
}

@media all and (min-width: 900px) {
	.card-item {
			width: calc(100% / 12 * 4 );
	}
}

.card-item1 {
	display: flex;
    background-color: white;
    font-family: 'Lucida Console';
	width: 100%;
	padding: 0.5em;
}

@media all and (min-width: 600px) {
	.card-item1 {
			width: calc(100% / 12 * 5 );
	}
}

@media all and (min-width: 900px) {
	.card-item1 {
			width: calc(100% / 12 * 4 );
	}
}

.navbar {
	padding: 0.1px;
	margin: 50px;
	height: 100px;
	border-radius: 0.8em;
    color: white;
	background: black;
	}

.navbar1 {
	padding: 0.1px;
	margin: 50px;
	height: 60%;
	border-radius: 0.8em;
    color: white;
	background: black;
	}
.card-body {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 100%;
	padding: 0;
	background-color: gray;
	box-shadow: 0 1px 1.5rem rgba(0, 0, 0, 0.1);
	border-radius: 3px;
}

.card-body1 {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 100%;
	padding: 0;
	background-color: #ffae42;
	box-shadow: 0 1px 1.5rem rgba(0, 0, 0, 0.1);
	border-radius: 3px;
}

.card-body p {
	flex: 1 0 auto;
	margin: 1px;
	padding: 30px;
}

.card-img {
	width: 100%;
	border-radius: 3px 3px 0 0;
}


.card-footer {
	margin-bottom: 2em;
}

.start {
	font-family: 'Lucida Console';
	display: inline-block;
	margin: 1rem;
	cursor: pointer;
	color: #fff;
	transition: .5s;
	background: #228c22;
	padding: 10px 30px;
	border-radius: 1em;
	text-decoration: none;
	border: none;
	cursor: pointer;
	font-size: 15px;
}

.start:hover {
	background: #5BC236;
	color: #333;
}

.submit {
	font-family: 'Lucida Console';
	cursor: pointer;
	color: #fff;
	transition: .5s;
	margin: 20px;
	background: #228c22;
	padding: 10px 30px;
	border-radius: 1em;
	text-decoration: none;
	border: none;
	cursor: pointer;
	font-size: 20px;
	width: 60%;
	float: right !important;
}

.submit:hover {
	background: #5BC236;
	color: #333;
}

.quiz-card {
	background: #fff;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
    font-family: 'Lucida Console';
	margin: 20px;
	float: right;
	width: 60%;
	border-radius: 0.8em;
  }
  
  .quiz-card:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  .quiz-container {
	padding: 0px 20px 20px 20px;
  }

  b {
	  margin-top: 0px;
  }

  .profile-card {
	background:  #ffae42;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	margin-top: 20px;
	margin-left: 20px;
    font-family: 'Lucida Console';
	float: left;
	width: 35%;
	border-radius: 0.8em;
  }
  
  .profile-card:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  .profile-container {
	padding: 0px 20px 20px 20px;
  }
