* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Poppins';
}

body {
    background-image: url('../img/bg2.jpeg');
    height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

#wrapper {
    width: 100%;
    height: 50vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Back of the forms in indexs*/
.form-container {
    width: 100%;
    max-width: 60rem;
    max-height: 80rem;
    background-color: silver;
    position: relative;
    padding: 10rem 0;
    box-shadow: 0 1px 1.5rem rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    z-index: 1;
}

/*Index forms*/
.form-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50rem;
    background: gainsboro;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
    z-index: -1
}

.form-heading {
    color: #fff;
    font-size: 2.5rem;
    position: absolute;
    top: 3.5rem;
    left: 1rem;
}



/*box forms background*/
form {
    width: 90%;
    transform: translateX(3rem);
    padding: 2rem 0;
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: 0 1px 1.5rem rgba(0, 0, 0, 0.1);
}

.input-group {
    width: 90%;
    margin: 0 auto;
    position: relative;
    display: flex;
    align-items: baseline;
}

.input-group input {
    position: relative;
    width: 100%;
    padding: 1rem 0;
    margin-top: 0.5rem;
    border: none;
    outline: none;
    font-size: 1.8rem;
    color: gray;
    font-family: 'Lucida Console';
}

.input-group select {
    position: relative;
    width: 100%;
    padding: 1rem 0;
    margin-top: 0.5rem;
    border: none;
    outline: none;
    font-size: 1.8rem;
    color: gray;
    font-family: 'Lucida Console';
}

/*add for responsive*/
.responsive {
  width: 15%;
  height: auto;
}

.input-group > i {
    font-size: rem;
    margin-right: 2rem;
    color: black;
}

.input-group .line {
    position: absolute;
    left: 0;
    left: 0;
    bottom: ;
    background-color: rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 1px;
}

.input-group input::placeholder {
    /* color: #fc6767; */
    font-family: 'Lucida Console';
}

.input-group .line::before {
    content: '';
    position: absolute;
    background-color: #fc6767;
    width: 0;
    height: 2px;
    transition: width 650ms;
}

.input-group input:focus + .line::before {
    width: 100%;
}

.input-group select:focus + .line::before {
    width: 100%;
}

.input-group input[type="submit"] {
    font-family: 'Poppins';
    font-weight: 300;
    margin: 3rem auto;
    padding: 1rem 5rem;
    background: linear-gradient(to left, #fc6767, #ec008c);
    border: none;
    color: #fff;
    font-size: 2.5rem;
    cursor: pointer;
    border-radius: 3rem;
}

.input-group input[type="submit"]:focus, .input-group input[type="submit"]:hover {
    background: linear-gradient(to right, #fc6767, #ec008c);
}

@media screen and (max-width: 700px) {
    .form-container::before {
        height: 10rem;
    }

    .form-heading {
        left: 50%;
        transform: translateX(-50%);
    }

    form {
        border-radius: initial;
        transform: initial;
        box-shadow: none;
        margin-left: 15px;
    }
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  margin: 4px 2px;
  cursor: pointer;
}

